h3 {
  color: blueviolet;
}

/* TASK 3  */
.gallery {
  display: flex;
  justify-content: space-around;
}

/* TASK 6 */

.input {
  border: 3px solid #bdbdbd;
}

.valid {
  border-color: #4caf50;
}

.invalid {
  border-color: #f44336;
}
